PORT=0000
DB_USER='postgres'
DB_PASSWORD='postgres'
DB_HOST='localhost'
DB_NAME='testdb'
DB_PORT='5432'
JWT_SECRET='aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyyzz'
PGADMIN_DEFAULT_EMAIL='pgadmin@mail.com'
PGADMIN_DEFAULT_PASSWORD='123456578'